{
  "jobs": {
    "check": {
      "needs": "get-check-names",
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v4",
          "with": {
            "submodules": true
          }
        },
        {
          "uses": "wimpysworld/nothing-but-nix@main",
          "with": {
            "hatchet-protocol": "holster",
            "nix-permission-edict": true
          }
        },
        {
          "uses": "nixbuild/nix-quick-install-action@master",
          "with": {
            "github_access_token": "${{ secrets.GITHUB_TOKEN }}",
            "nix_conf": "keep-env-derivations = true\nkeep-outputs = true\n"
          }
        },
        {
          "uses": "nix-community/cache-nix-action@main",
          "with": {
            "primary-key": "nix-${{ runner.os }}"
          }
        },
        {
          "run": "nix --accept-flake-config build '.#checks.x86_64-linux.\"${{ matrix.checks }}\"'\n"
        }
      ],
      "strategy": {
        "fail-fast": false,
        "matrix": {
          "checks": "${{ fromJson(needs.get-check-names.outputs.checks) }}"
        }
      }
    },
    "get-check-names": {
      "outputs": {
        "checks": "${{ steps.get-check-names.outputs.checks }}"
      },
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v4",
          "with": {
            "submodules": true
          }
        },
        {
          "uses": "nixbuild/nix-quick-install-action@master",
          "with": {
            "github_access_token": "${{ secrets.GITHUB_TOKEN }}",
            "nix_conf": "keep-env-derivations = true\nkeep-outputs = true\n"
          }
        },
        {
          "uses": "nix-community/cache-nix-action@main",
          "with": {
            "primary-key": "nix-${{ runner.os }}"
          }
        },
        {
          "id": "get-check-names",
          "run": "checks=\"$(nix --accept-flake-config eval --json .#checks.x86_64-linux --apply builtins.attrNames)\"\necho \"checks=$checks\" >> $GITHUB_OUTPUT\n"
        }
      ]
    }
  },
  "name": "Check",
  "on": {
    "push": {},
    "workflow_call": {}
  }
}
